.grid {
    width: 100%;
    display: grid;
    justify-content: center;
}

.flex{
    display: flex;
}

.box{
   width: 330px;
   height: 280px;
   box-sizing: border-box;
   background-color: var(--gray-300);
   border-radius: 12px; 
   padding: 12px;


   &:hover{
    border: 1.5px solid var(--gray-400);
   }

   h1{
    font: var(--title-sm);
    padding-top: 24px;
    color: var(--gray-600);
   }

   h2{
    padding-top: 8px;
    font: var(--text-sm);
    color: var(--gray-500);
   }
}

.box-border{
    width: 280px;
    height: 155px;
    margin-top: 56px;
    border: 2px var(--gray-200) solid;
    border-radius: 12px;
    padding: 20px;

    h2{
        font: var(--title-sm);
        color: var(--gray-600);
        padding-top: 20px;
    }

    p{
        font: var(--text-sm);
        color: var(--gray-500);
        padding-top: 8px;
    }
}

#social{
    margin-top: 48px;
    display: flex;
    justify-content: center;

    .links{
        gap: 16px;

        .link-box {
            width: 400px;
            height: 60px;
            background-color: var(--gray-300);
            border-radius: 8px;
                       
            
            a{
                display: grid;
                grid-auto-flow: column;
                align-items: center;
                justify-content: space-between;
                text-decoration: none;


                p{
                    width: 288px;
                    margin: 15px;
                    font: var(--text-md);
                    color: var(--gray-500);
                }

            }
        }

        }
    }




